.btnTo {
    margin: 20px;
    border-radius: 15px;
    padding: 10px 20px;
}

.navigation a {
    margin: 8px 6px;
    background-color: #6fc8f5;
    border-radius: 20px;
    padding: 1vh;
    border: 2px solid #37bcff;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;

}

a:visited {
    text-decoration: none;
}